/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
    --nav-color: #3D405B;
    --text-color: #F4F1DE;
    --post-color: #F2CC8F;
    --button-color: #81B29A;
    --status-color: #E07A5F;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
header{
    background-color: var(--nav-color);
    color: var(--text-color);
    padding: 0 5rem;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 990;
}

.ft-lato{
    font-family: 'Lato', sans-serif;
}

header .logo-brand{
    font-size: 2.5rem;
}

header .nav-list{
    list-style-type: none;
    gap: 0.75rem;
}

header .nav-list .nav-item,.active{
    padding: 0.5rem 1.25rem;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}


header .nav-list .active::after{
    width: 100%!important;
}
header .nav-list .nav-item::after{
    width: 0;
}
header .nav-list .active::after,.nav-item::after{
    content: '';
    background-color: var(--text-color);
    height: 0.25rem;
    position: absolute;
    bottom: 0;
    transition: width 300ms ease-in;
}

header .nav-list .nav-item:hover::after{
    width: 100%;
}

header .nav-list .nav-item .nav-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.25rem;
    position: relative;
}

header .nav-list .nav-item .nav-link .counter{
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--status-color);
    color: var(--text-color);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    font-size: 0.95rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
.wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-msg{
    position: absolute;
    padding: 1.5rem 4rem;
    font-size: 1.5rem;
    z-index: 999;
    color: var(--text-color);
    background-color: var(--status-color);
    border-radius: 5px;
    top: 10px;
    animation: fade-out 4s ease-in-out both;
}
@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0
    }
}
.dsp-none{
    display: none;
}
.dsp-block{
    display: block;
}
.grid-wrapper{
    padding: 2rem 5rem;
    display: grid;
    width: 100%;
    background-color: var(--post-color);
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.grid-wrapper .post-card{
    padding: 1rem 2rem;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: 20rem;
    max-width: 18rem;
}

.grid-wrapper .post-card .post-title,
.grid-wrapper .post-card .post-author,
.grid-wrapper .post-card .post-desc{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.grid-wrapper .post-card .post-title{
    justify-content: space-between;
    align-items: center;
}
.grid-wrapper .post-card .post-title .text-content{
    max-width: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.add-to-fav{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    font-weight: bolder;
}
 
.msg{
    position: absolute;
    font-size: 10rem;
    color: red;
    z-index: 1000;
}

.form-wrapper{
    width: 100%;
    padding: 2rem 5rem;
    position: relative;
}

.form-wrapper form{
    width: 40vw;
    background-color: gray;
    color: var(--text-color);
    border-radius: 8px;
    padding: 2rem;
}

.form-wrapper form .form-data:not(:last-child){
    display: flex;
    flex-direction: column;
    margin-bottom: 0.95rem;
}
.active{
    position: relative;
    display: flex;
    justify-content: center;
}
.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--text-color);
}